@model FlowerBasketProject.Models.Entity.Message

@{
    ViewData["Title"] = "Message Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-header">
    <div class="row align-items-end">
        <div class="col-lg-8">
            <div class="page-header-title">
                <i class="ik ik-mail bg-blue"></i>
                <div class="d-inline">
                    <h5>Message Details</h5>
                    <span>Details of the selected message</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header"><h3>Message Information</h3></div>
            <div class="card-body">
                <dl class="row">
                    <dt class="col-sm-3">@Html.DisplayNameFor(model => model.SenderName)</dt>
                    <dd class="col-sm-9">@Html.DisplayFor(model => model.SenderName)</dd>

                    <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Content)</dt>
                    <dd class="col-sm-9">@Html.DisplayFor(model => model.Content)</dd>

                    <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Timestamp)</dt>
                    <dd class="col-sm-9">@Html.DisplayFor(model => model.Timestamp)</dd>

                    <dt class="col-sm-3">@Html.DisplayNameFor(model => model.IsRead)</dt>
                    <dd class="col-sm-9">@Html.DisplayFor(model => model.IsRead)</dd>

                    <dt class="col-sm-3">@Html.DisplayNameFor(model => model.User.UserName)</dt>
                    <dd class="col-sm-9">@Html.DisplayFor(model => model.User.UserName)</dd>
                </dl>
                <div class="form-group">
                    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Edit</a>
                    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
                </div>
            </div>
        </div>
    </div>
</div>
